<h2 id="header">View persistent identifiers</h2>
               <table cellpadding="0" cellspacing="10">
<% @raw_recs.each do |k, v| -%>
                  <tr>
                    <td><%= k %></td>
                    <td><%= v %></td>
                  </tr>
<% end -%>
                </table>
<%= link_to 'Back', :action => 'index' %>
