<h2>Persistent identifier management</h2>
        <p>
          The persistent identifier management site enables one to create, validate, modify, delete, 
          and resolve persistent identifers generated for digital objects.  If you need assistance 
          with this site, please contact <a href="mailto:mgiarlo@princeton.edu">Michael J. Giarlo</a>.
        </p>