<h2 id="header">Persistent identifier management</h2>
<p>The persistent identifier management site enables one to create, validate, modify, 
delete, and resolve persistent identifers generated for digital objects.  If you need assistance with this site, 
please contact <a href="mailto:leftwing@alumni.rutgers.edu">Michael J. Giarlo</a>.</p>
<p>
  <%= link_to 'View identifiers', :action => 'view' %> <br/>
  <%= link_to 'Create new identifiers', :action => 'create_form' %>
</p>
